@use './adoc-golo';

// Setup custom fonts
@use './atkinson-hyperlegible';
@import url(//fonts.googleapis.com/css?family=Roboto:ital,wght@0,100..900;1,100..900);

html, body {
  font-family: "Atkinson Hyperlegible Next", "Roboto", Arial, sans-serif;
  font-variation-settings: "wdth" 100;
}

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6, #content #toctitle {
  font-family: "Atkinson Hyperlegible Next", "Roboto", Arial, sans-serif;
}

code, kbd, pre, samp, pre > code {
  font-family: "Atkinson Hyperlegible Mono", Courier, monospace;
}

// Fix tables not displaying correctly
table {
  colgroup col {
    width: unset !important;
  }

  table-layout: auto;
  width: 100%;
}
